21-1599_l5gm.pdf filter=lfs diff=lfs merge=lfs -text
26[[:space:]]CFR[[:space:]]Part[[:space:]]509[[:space:]]Subpart[[:space:]]ECFRd60dfb9daabf2ae[[:space:]](up[[:space:]]to[[:space:]]date[[:space:]]as[[:space:]]of[[:space:]]6-26-2026).pdf filter=lfs diff=lfs merge=lfs -text
602us1r41_h3dj.pdf filter=lfs diff=lfs merge=lfs -text
Acts_Resolutions.pdf filter=lfs diff=lfs merge=lfs -text
Appeal[[:space:]]Rights.pdf filter=lfs diff=lfs merge=lfs -text
Armed_forces_tax_guide.pdf filter=lfs diff=lfs merge=lfs -text
bm25_index.pkl filter=lfs diff=lfs merge=lfs -text
Buisness_casualty.pdf filter=lfs diff=lfs merge=lfs -text
capital_construction.pdf filter=lfs diff=lfs merge=lfs -text
chunks.pkl filter=lfs diff=lfs merge=lfs -text
corporations.pdf filter=lfs diff=lfs merge=lfs -text
Earned_income_credit.pdf filter=lfs diff=lfs merge=lfs -text
Employee_taxGuide.pdf filter=lfs diff=lfs merge=lfs -text
Employees_supplemental_guide.pdf filter=lfs diff=lfs merge=lfs -text
Employer_tax.pdf filter=lfs diff=lfs merge=lfs -text
Farmer_tax_guide.pdf filter=lfs diff=lfs merge=lfs -text
Federal_income_guide.pdf filter=lfs diff=lfs merge=lfs -text
Federal_Income_tax.pdf filter=lfs diff=lfs merge=lfs -text
Foreign_tax_credit.pdf filter=lfs diff=lfs merge=lfs -text
General_Provision.pdf filter=lfs diff=lfs merge=lfs -text
HOuse_legal.pdf filter=lfs diff=lfs merge=lfs -text
i706na.pdf filter=lfs diff=lfs merge=lfs -text
Income_status.pdf filter=lfs diff=lfs merge=lfs -text
Installment_sales.pdf filter=lfs diff=lfs merge=lfs -text
investment_income_&_expenses.pdf filter=lfs diff=lfs merge=lfs -text
Notice.pdf filter=lfs diff=lfs merge=lfs -text
Partnerships.pdf filter=lfs diff=lfs merge=lfs -text
pension.pdf filter=lfs diff=lfs merge=lfs -text
Residential[[:space:]]property.pdf filter=lfs diff=lfs merge=lfs -text
revenue_data_book.pdf filter=lfs diff=lfs merge=lfs -text
Right[[:space:]]As[[:space:]]A[[:space:]]Taxpayer.pdf filter=lfs diff=lfs merge=lfs -text
Rules_Construction.pdf filter=lfs diff=lfs merge=lfs -text
Tax_guide_2.pdf filter=lfs diff=lfs merge=lfs -text
Tax_guide_small_business.pdf filter=lfs diff=lfs merge=lfs -text
Tax_Guide.pdf filter=lfs diff=lfs merge=lfs -text
taxable[[:space:]]and[[:space:]]nontaxable[[:space:]]income.pdf filter=lfs diff=lfs merge=lfs -text
taxinformation_for_homeowner.pdf filter=lfs diff=lfs merge=lfs -text
